* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
#header{
  background-color: rgb(65, 65, 65);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
#images{
  margin-top: 25px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#images div{
margin-left: 10px;
}
#images, h4{
  display: flex;
  justify-content: center;
}
footer{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}