/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    margin: 20px;
  }
  article {
    max-width: 100%;
    text-align: center;
  }
  h1 {
    font-size: medium;
    display: flex;
    justify-content: center;
  }
  h2 {
    font-size: medium;
    display: flex;
    justify-content: center;
  }
  img {
      max-width: 50%;

  }
  main {
  }
  section {
  }
  figure {
      margin: 0;
      padding-top: 20px;
      display: flex;
      flex-flow: column wrap;
      align-content: center;

  }
  figcaption {
    font-size: .8em;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
  }

  @media screen and (max-width: 768px) {
    img {
      max-width: 90%;
    }
    figcaption {
      font-size: 20px;
    }
    article {
      font-size: x-large;
      max-width: 90%;
    }
    h1 {
      font-size: xx-large;
    }
    h2 {
      font-size: xx-large;
    }
  }